<div class="budgets__wrapper">
  <staging-warning></staging-warning>
  <apply-update></apply-update>

  <div class="budgets-header">
    <div class="budgets-header__container">
      <div class="budgets-header__title">Financier</div>

      <ul class="budgets-header__actions">
        <sync-status status="userCtrl.status" ng-if="userCtrl.email"></sync-status>
      </ul>
    </div>
  </div>

  <!-- <service-worker-status></service-worker-status> -->

<!--  <budget-selector></budget-selector>-->

  <div class="budgets">

    <div class="budgets__title">{{'YOUR_BUDGETS' | translate}}</div>

<!--    <ul class="budgets__budgets">-->
<!--      -->

<!--    </ul>-->

    <db-url-editor></db-url-editor>


    <ul class="budgets__budgets" disable-ng-animate>

      <budget-selector-list></budget-selector-list>

<!--      <li class="budgets__flipper"-->
<!--          ng-class="{'budgets__flipper&#45;&#45;open': budgetsCtrl.isRemoving(budget)}"-->
<!--          ng-repeat="budget in budgetsCtrl.budgets | orderBy: budgetsCtrl.budgetOrder : true">-->
<!--        <div class="budgets__budget-remove">-->
<!--          <header translate="REMOVE_BUDGET_CONFIRMATION" translate-values="{name: budget.name}"></header>-->
<!--          <div>-->
<!--            <button class="danger" ng-click="budgetsCtrl.remove(budget)">{{'REMOVE' | translate}}</button> <button ng-click="budgetsCtrl.removing(null, $event)">{{'CANCEL' | translate}}</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="budgets__budget"-->
<!--             ng-class="{'budgets__budget&#45;&#45;loading': budget.loading}"-->
<!--             ui-sref="user.app.manager.view.budget({budgetId: budget.id})"-->
<!--             ng-click="budget.loading = true"-->
<!--             ng-right-click="budgetsCtrl.removing(budget, $event)">-->
<!--          <div class="budgets__budget-name">{{budget.name}}</div>-->
<!--          <div class="budgets__budget-opened"-->
<!--               ng-if="budgetsCtrl.budgetsOpened[budget.id].opened"-->
<!--               title="{{budgetsCtrl.budgetsOpened[budget.id].opened | date: 'medium'}}"><sub>{{'LAST_OPENED' | translate}}</sub><br>{{budgetsCtrl.budgetsOpened[budget.id].opened | timeAgo}}</div>-->

<!--          <div class="budgets__budget-close"-->
<!--               ng-click="budgetsCtrl.removing(budget, $event)"-->
<!--               tabindex="0">+</div>-->

<!--          <div class="budgets__budget-edit"-->
<!--               ng-click="budgetsCtrl.edit(budget, $event)"-->
<!--               tabindex="0"><i class="fa fa-cog"></i></div>-->

<!--          <div class="budgets__budget-loader"></div>-->
<!--        </div>-->
<!--      </li>-->

      <li class="budgets__flipper">
        <div class="budgets__budget" ui-sref="user.budget.create">
          <div class="budgets__budget-new-icon">+</div>
        </div>
      </li>
    </ul>

  </div>

  <div class="budgets-footer">
    <div class="budgets-footer__container">
      <div class="budgets-footer__website">
        <a href="https://financier.io">← {{'BACK_TO_WEBSITE' | translate}}</a>
      </div>
      <div class="budgets-footer__version" translate="VERSION_INFORMATION" translate-values=":: version"></div>
    </div>
  </div>
</div>
